<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddMarkerDialog">Add Marker</button>
  
<!-- Modal -->
<div class="modal fade" id="AddMarkerDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddMarkerDialogTitle">Add Maker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control form-control-lg" type="text" placeholder="New marker" (keypress)="OnKeypress($event)">
        <app-map></app-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="addMarkerButton" type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddMarker()">Add</button>
      </div>
    </div>
  </div>
</div>