<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand"  [routerLink]="['activity-list']">Strava Explorer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="userLoggedIn != null">
                <a class="nav-link" [routerLink]="['activity-list']">Activities</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="userLoggedIn != null">
                <a class="nav-link" [routerLink]="['markers']">Markers</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="userLoggedIn != null">
                <a class="nav-link" [routerLink]="['update']">Update</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="userLoggedIn == null">
                <a class="nav-link btn" (click)="OnLoginButtonClick()">Login</a>
            </li>
            <li class="nav-item dropdown"  *ngIf="userLoggedIn != null">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ userLoggedIn.name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" (click)="OnLogoutButtonClick()">Logout</a>
                </div>
            </li>            
            <li *ngIf="userLoggedIn != null">
                <img class="profile-picture mr-2" src={{userLoggedIn.profilePicture}}>
            </li>
            <li>
                <a href="http://www.strava.com">
                    <img class="api-logo" src="assets/images/api_logo.svg">
                </a>
            </li>
        </ul>
    </div>
  </nav>
</div>
<button #openModalButton [hidden]="true" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"></button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Server returned error</h5>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger">{{error}}</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>